<form>
    <div class="container mt-1">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-10">
                <h2>
                    <button mat-icon-button (click)="goBack()">
                        <mat-icon>arrow_back</mat-icon>
                      </button>
                    Information client</h2>
                <div class="mb-2 mt-1">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Type Client</mat-label>
                        <mat-select [value]="typeClient" (valueChange)="onChange($event)" >
                            <mat-option value="physique">
                                Physique
                            </mat-option>
                            <mat-option value="sociale">
                                Sociale
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!--button mat-raised-button color="primary">Valider</button-->

            </div>
        </div>
    </div>
    <div class="container pb-5 mb-5">
        <!-- Start form client physique -->
        <div class="row g-3" *ngIf="typeClient == 'physique'">
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Raison sociale</label>
                <input type="text" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-4">
                <label for="inputRc" class="form-label">RC</label>
                <input type="text" class="form-control" id="inputRc">
              </div>
              <div class="col-md-4">
                <label for="inputCarteImmatriculation" class="form-label">Carte Immatriculation</label>
                <input type="text" class="form-control" id="inputCarteImmatriculation">
              </div>
              <div class="col-md-4">
                <label for="inputemail" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="inputemail">
              </div>
              <div class="col-md-4">
                <label for="inputTeleFixe" class="form-label">Télèphone fixe</label>
                <input type="text" class="form-control" id="inputTeleFixe">
              </div>
              <div class="col-md-4">
                <label for="inputTelePortable" class="form-label">Télèphone portable</label>
                <input type="text" class="form-control" id="inputTelePortable">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">Ville</label>
                <select id="inputCity" class="form-select">
                    <option selected>Choisi une ville</option>
                    <option>Agadir</option>
                    <option>Azro</option>
                    <option>Casablanca</option>
                    <option>...</option>
                  </select>
              </div>
              <div class="col-md-6">
                <label for="inputZip" class="form-label">Code postal</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">Valider</button>
              </div>
        </div> <!-- /. End form client physique -->
        <!-- Start form client sociale -->
        <div class="row g-3" *ngIf="typeClient == 'sociale'">
            <div class="col-md-3">
                <label for="inputEmail4" class="form-label">Nom</label>
                <input type="text" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-3">
                <label for="inputPrenom" class="form-label">Prènom</label>
                <input type="text" class="form-control" id="inputPrenom">
              </div>
              <div class="col-md-3">
                <label for="inputDateDeNaissance" class="form-label">Date de naissance</label>
                <input type="date" class="form-control" id="inputDateDeNaissance" >
              </div>
              <div class="col-md-3">
                <label for="inputCity" class="form-label">Etat civil</label>
                <select id="inputCity" class="form-select">
                    <option selected>---Séléctionner---</option>
                    <option>Femme</option>
                    <option>Homme</option>
                  </select>
              </div>
              <div class="col-md-3">
                <label for="inputCin" class="form-label">CIN</label>
                <input type="text" class="form-control" id="inputCin">
              </div>
              <div class="col-md-3">
                <label for="inputProfession" class="form-label">Profession</label>
                <input type="text" class="form-control" id="inputProfession">
             </div>
              <div class="col-md-3">
                <label for="inputNumPassport" class="form-label">Numéro passeport</label>
                <input type="text" class="form-control" id="inputNumPassport">
              </div>
              <div class="col-md-3">
                <label for="inputPays" class="form-label">Nationalité</label>
                <input type="text" class="form-control" id="inputPays">
              </div>
              <div class="col-md-4">
                <label for="inputemail" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="inputemail">
              </div>
              <div class="col-md-4">
                <label for="inputTeleFixe" class="form-label">Télèphone fixe</label>
                <input type="text" class="form-control" id="inputTeleFixe">
              </div>
              <div class="col-md-4">
                <label for="inputTelePortable" class="form-label">Télèphone portable</label>
                <input type="text" class="form-control" id="inputTelePortable">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">Ville</label>
                <select id="inputCity" class="form-select">
                    <option selected>Choisi une ville</option>
                    <option>Agadir</option>
                    <option>Azro</option>
                    <option>Casablanca</option>
                    <option>...</option>
                  </select>
              </div>
              <div class="col-md-6">
                <label for="inputZip" class="form-label">Code postal</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">Valider</button>
              </div>
        </div> <!-- /. End form client physique -->
    </div>

</form>